/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 62.5%;
}
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Color chart
   ========================================================================== */

   /*
      Cloud White: #eae8e7
      Light Slate Blue: #a3adaf
      Dark Slate Blue: #424748
      Green: #c9d5a0
      Red: #dd6f64
      Dark Red: #b94e43
      Black: #09131a
   */

/* ==========================================================================
   Custom styles - Links
   ========================================================================== */
   /**
    * Remove the gray background color from active links in IE 10.
    */
   a {
     color: #dd6f64;
     background: transparent;
     text-decoration: none;
   }

   /**
    * Address `outline` inconsistency between Chrome and other browsers.
    */
   a:focus {
     outline: thin dotted;
   }

   /**
    * Improve readability when focused and also mouse hovered in all browsers.
    */
   a:hover {
     outline: 0;
     color: #b94e43;
     transition: color 0.2s ease;
   }
   a:active {
     outline: 0;
     color: #81352e;
   }
   .credits a {
     text-decoration: underline;
     color: #a3adaf;
   }
   .credits a:hover {
     color: #b94e43;
     transition: color 0.2s ease;
   }
   .btn {
     text-transform: uppercase;
     text-decoration: none;
     background: #ffffff;
     color: #424748;
     padding: 0.5em 1.25em;
     margin-right: .2em;
     font-size: 1.6rem;
     border-radius: 4px;
     transition: background-color 0.2s ease;
   }
   .btn:hover {
     background: #afb77d;
     color: #09131a;
     transition: background-color 0.25s ease;
   }
   .btn.active {
     background: #c9d5a0;
     color: #424748;
     pointer-events: none;
   }
   #navigation_inner {
     padding: 60px 0 80px;
     margin: 0 auto;
     text-align: center;
   }


/* ==========================================================================
   Typography
   ========================================================================== */
body {
  font-size: 62.5%;
  font-weight: light;
  line-height: 1.35em;
  color: #424748;
}
html, body, button, input, select, textarea {
  font-family:'Dosis', Tahoma, Verdana, sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5 {
  font-family: 'Yeseva One', 'Bodoni MT', Georgia, serif;
  font-weight: normal;
  line-height: 1.15em;
  letter-spacing: 1px;
  margin: 0 0 .5em 0;
}
h1, h2, h3, h4, h5:first-child {
  margin-top: 0px
}
h1 {
  font-size: 9.5rem;
}
h2 {
  font-size: 6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}
p {
  font-family:'Dosis', Tahoma, Verdana, sans-serif;
  font-size: 1.9rem;
  line-height: 1.3em;
  font-weight: 300;
  margin: 0 0 1em 0;
  letter-spacing: .1px;
}
p:first-child {
    margin-top: 0;
  }
strong {
  font-weight: 600;
}
.small {
  font-size: 1.4rem;
}
.large {
  font-size: 2.2rem;
  line-height: 1.4em;
}
article.highlight p {
  font-size: 2.2rem;
  line-height: 1.3em;
  border-top: 2px solid #a3adaf;
  border-bottom: 2px solid #a3adaf;
  padding: 15px 0 15px;
  margin: 5vh 0;
}
figcaption {
  font-size: 1.4rem;
  color: #a3adaf;
  text-align: right;
  margin: 1em 0 1em;
}
.head {
  text-transform: uppercase;
  text-align: center;
  line-height: .5em;
  color: #a3adaf;
  letter-spacing: 1.5px;
}
.hero-name-xxl {
  font-size: 10.1rem;
  text-align: right;
  line-height: .35em;
  margin-top: 15px;
  margin-bottom: .7em;
}
.hero-name-xl {
  font-size: 9.5rem;
  text-align: right;
  line-height: .35em;
  margin: 0 0 40px 0;
}
.intro_section_headline {
  text-align: right;
}
.intro_section_copy {

}
.credits p {
  font-size: 1.4rem;
  color: #a3adaf;
  margin: 10px 0 10px;
  text-align: center;
}
#footer .credits span {
    padding: 0 .75em;
}
@media all and (max-width:950px) {
  .intro_section_headline {
      text-align: left;
  }
  .hero-name-xxl {
    text-align: left;
    margin-top: 15px;
    margin-bottom: .7em;
  }
  .hero-name-xl {
    text-align: left;
    margin: 0 0 80px 0;
  }
}
@media all and (max-width:600px) {
  p {
    font-size: 1.7rem;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 2.6rem;
  }
  h4 {
    font-size: 2rem;
  }
  .intro_section_headline {
      text-align: center;
  }
  .hero-name-xxl {
    font-size: 6.5rem;
    text-align: center;
    line-height: .35em;
    margin-top: 15px;
    margin-bottom: .7em;
  }
  .hero-name-xl {
    font-size: 6.5rem;
    text-align: center;
    margin: 0 0 60px 0;
  }
}






/* ==========================================================================
   Custom styles - Content
   ========================================================================== */
#header {
  margin: auto 0;
  padding: 15px 10px 20px;
}
#introduction {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #eae8e7 url(../images/graphic_intro_mountains.png) no-repeat bottom center;
  background-size: contain;
}
#about {
  background-color: #424748;
  color: #eae8e7;
}
#lodging {
  background-color: #eae8e7;
  padding-bottom: 60px;
}
#day-of {
  background-image: url(../images/background_dark_paper.jpg);
  background-color: #09131a;
  color: #a3adaf;
  padding-bottom: 60px;
}
#footer {
  width: 100%;
  background-color: #09131a;
  padding: 20px 20px 10px;
}


/* Global content styling */
#section_story {
  padding-top: 4vh;
  margin: 0 auto;
}
@media all and (max-width:950px) {
  #section_story {
    margin: 0 40px auto;
  }
}
@media all and (max-width:600px) {
  #section_story {
    margin: 0 auto;
  }
}
#intro_copyblock {
  margin-bottom: 4vh;
}
.shadow {
  box-shadow: 1.25px 1.9px 9px 0px rgba(0, 0, 5, 0.25);
}
img {
  max-width: 100%;
}
.full-width {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
figure {
  margin: 0px;
}


/* Intro section styling */
#intro_content {
  margin-top: 10vh;
}
#intro_content p.large {
  border-top: 2px solid #a3adaf;
  padding-top: 15px;
}
.intro_nav {
  margin: .5em 0 1em;
  display: inline-block;
}
@media all and (max-width:600px) {
  #intro_content {
      margin-top: 8vh;
      text-align: center;
  }
}




/* About section styling */
#section_story article {
  margin-bottom: 20px;
}
#newyears_story {
  padding-bottom: 20vw;
  background: #424748 url(../images/photo_about_background_newyears.jpg) no-repeat bottom center;
  background-size: contain;
}
#engagement_story {
  padding-bottom: 15vw;
  background: #424748 url(../images/photo_about_background_engagement.jpg) no-repeat bottom center;
  background-size: contain;
}




/* Lodging section styling */
.row.lodging {
    margin-bottom: 60px;
}
.lodging_title h3{
  text-align: center;
  margin: 0 0 1em 0;
}

.lodging_img {
  border: 2px solid #424748;
  margin-bottom: 2em;
}
.row.lodging article {
    padding-left: 1.5em;
}
@media all and (max-width:950px) {
  .lodging_title h3{
    text-align: left;
  }
  .row.lodging article {
    padding-left: 0;
}
}
@media all and (max-width:600px) {
    .lodging_title h3{
      text-align: center;
  }
}




/* Day Of section styling */
.row.day_of_section {
    margin-bottom: 60px;
}
.row.day_of_section figure.col-2 {
    text-align: right;
    margin-bottom: 3em;
}
@media all and (max-width:950px) {
  .row.day_of_section figure.col-2 {
      text-align: left;
      width: 16%;
  }
  article.col-8.day_of_section {
    width: 55%;
    margin-left: 40px;
  }
}
@media all and (max-width:600px) {
  .row.day_of_section figure.col-2 {
      text-align: center;
      width: 95%;
  }
  article.col-8.day_of_section {
    width: 95%;
    margin-left: 0px;
  }
  .row.day_of_section h3 {
    text-align: center;
  }
}





/* ==========================================================================
   Forms
   ========================================================================== */
   /**
    * Define consistent border, margin, and padding.
    */
   fieldset {
     border: 1px solid #c0c0c0;
     margin: 0 2px;
     padding: 0.35em 0.625em 0.75em;
   }

   /**
    * 1. Correct `color` not being inherited in IE 8/9.
    * 2. Remove padding so people aren't caught out if they zero out fieldsets.
    */
   legend {
     border: 0;
     /* 1 */
     padding: 0;
     /* 2 */
   }

   /**
    * 1. Correct font family not being inherited in all browsers.
    * 2. Correct font size not being inherited in all browsers.
    * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
    */
   button,
   input,
   select,
   textarea {
     font-family: inherit;
     /* 1 */
     font-size: 100%;
     /* 2 */
     margin: 0;
     /* 3 */
   }

   /**
    * Address Firefox 4+ setting `line-height` on `input` using `!important` in
    * the UA stylesheet.
    */
   button,
   input {
     line-height: normal;
   }

   /**
    * Address inconsistent `text-transform` inheritance for `button` and `select`.
    * All other form control elements do not inherit `text-transform` values.
    * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
    * Correct `select` style inheritance in Firefox 4+ and Opera.
    */
   button,
   select {
     text-transform: none;
   }

   /**
    * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
    *    and `video` controls.
    * 2. Correct inability to style clickable `input` types in iOS.
    * 3. Improve usability and consistency of cursor style between image-type
    *    `input` and others.
    */
   button,
   html input[type="button"],
   input[type="reset"],
   input[type="submit"] {
     -webkit-appearance: button;
     /* 2 */
     cursor: pointer;
     /* 3 */
   }

   /**
    * Re-set default cursor for disabled elements.
    */
   button[disabled],
   html input[disabled] {
     cursor: default;
   }

   /**
    * 1. Address box sizing set to `content-box` in IE 8/9/10.
    * 2. Remove excess padding in IE 8/9/10.
    */
   input[type="checkbox"],
   input[type="radio"] {
     box-sizing: border-box;
     /* 1 */
     padding: 0;
     /* 2 */
   }

   /**
    * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
    * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
    *    (include `-moz` to future-proof).
    */
   input[type="search"] {
     -webkit-appearance: textfield;
     /* 1 */
     box-sizing: content-box;
   }

   /**
    * Remove inner padding and search cancel button in Safari 5 and Chrome
    * on OS X.
    */
   input[type="search"]::-webkit-search-cancel-button,
   input[type="search"]::-webkit-search-decoration {
     -webkit-appearance: none;
   }

   /**
    * Remove inner padding and border in Firefox 4+.
    */
   button::-moz-focus-inner,
   input::-moz-focus-inner {
     border: 0;
     padding: 0;
   }

   /**
    * 1. Remove default vertical scrollbar in IE 8/9.
    * 2. Improve readability and alignment in all browsers.
    */
   textarea {
     overflow: auto;
     /* 1 */
     vertical-align: top;
     /* 2 */
   }









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
